ul.release-matrix {
  // display: block;
  margin: 25px auto;
  list-style-type: none;
  padding: 0;
  li {
    width: 100%;
    .platform {
      width: 47%;
      display: inline-block;
      text-align: right;
      margin-right: 6%;
    }
    .size {
      width: 10%;
      display: inline-block;
    }
  }
}

.tag {
  font-size: .75em;
  padding: 2px 13px;
  border: none;
  border-radius: 50px;
  color: #fff;
  &.green {
    background-color: green;
  }
  &.red {
    background-color: red;
  }
}

.site-avatar {
  display: none;
}

h1.site-name {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h1 {
  font-weight: 500;
}

h2, h3 {
  font-weight: 500;
}
